
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif; 
    background-color: #f4f4f9; 
    color: #333; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


header {
    background-color: #564caf; 
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    position: relative; /* Garante que o cabeçalho fique acima do conteúdo */
    z-index: 10; /* Garante que o cabeçalho fique acima de outros conteúdos */
}


section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    z-index: 1; /* Certifique-se de que o formulário fique abaixo do cabeçalho */
}


div {
    margin-bottom: 15px;
}



input[type="number"]:focus,
input[type="radio"]:focus {
    border-color: #564caf; 
}


input[type="button"] {
    background-color: #564caf; 
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    width: 100%;
    transition: background-color 0.3s ease;
}


input[type="button"]:hover {
    background-color: #2918c0; 
}


#res {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    font-size: 1.2rem;
    color: #333;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Evita sobreposição da imagem */
    z-index: 5;
}


#foto {
    width: 150px;
    height: 150px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    object-fit: cover; /* Para manter o aspecto da imagem */
}

/* Responsividade */
@media (max-width: 768px) {
    section {
        width: 90%; /* Faz o container ocupar mais espaço em telas menores */
    }
    
    input[type="button"] {
        font-size: 1rem;
        padding: 10px 18px;
    }

    label {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 1.5rem;
    }

    section {
        padding: 15px;
    }

    input[type="button"] {
        font-size: 1rem;
        padding: 10px 16px;
    }

    #foto {
        width: 120px;
        height: 120px;
    }
}
